<div id="contactme">
    <div class="container">
        <div class="aboutmeText">
            <h1>Get <Strong>In Touch</Strong></h1>
        </div>
        <div class="row">
            <div class="col-md-6" >
                <h1>GET IN TOUCH</h1>
                <form [formGroup]="qform" (ngSubmit)="submit(qform)">
                    <mat-form-field appearance="outline" style="width:80%">
                        <mat-label>Name</mat-label>
                        <input  matInput placeholder="Name" formControlName="name" style="color:#7f7f7f;">
                        <mat-hint>Hint : Deepak</mat-hint>
                    </mat-form-field>
                    <mat-form-field appearance="outline" style="width:80%">
                        <mat-label>Email</mat-label>
                        <input  matInput placeholder="Email" formControlName="email" style="color:#7f7f7f;">
                        <mat-hint>Hint : deepakarya0155@gmail.com</mat-hint>
                    </mat-form-field>
                    <mat-form-field appearance="outline" style="width:80%">
                        <mat-label>Mobile </mat-label>
                        <input  matInput placeholder="Mobile" formControlName="phone" style="color:#7f7f7f;">
                        <mat-hint>Hint : 9988887783</mat-hint>
                    </mat-form-field>

                    <mat-form-field appearance="outline" style="width:80%">
                        <mat-label>Question</mat-label>
                        <textarea matInput formControlName="comment" style="color:#7f7f7f;"></textarea>
                        <mat-hint>Hint : I want to know 
                            
                        </mat-hint>
                    </mat-form-field>
                    <button style="width:80%;margin-bottom:5%" type="submit" mat-raised-button
                    [disabled]="qform.invalid"
                    >Submit</button>
                    
                    </form>
            </div>
            <div class="col-md-6" [ngClass]="true?'mobileF':''" *ngIf="backend.contactme">
                <h1>My Contact Details</h1>
                <h3>EMAIL</h3>
                <p [ngClass]="!backend.computerscreenFlag?'mobileF':''">{{backend.contactme.email}}</p>
                <h3 [ngClass]="!backend.computerscreenFlag?'mobileF':''">PHONE</h3>
                <p [ngClass]="!backend.computerscreenFlag?'mobileF':''">{{backend.contactme.mob}}</p>
                <h3 [ngClass]="!backend.computerscreenFlag?'mobileF':''" >Address</h3>
                <p [ngClass]="!backend.computerscreenFlag?'mobileF':''">{{backend.contactme.address}}</p>
            </div>
            <div class="col-md-8 col-md-offset-4">
                
                    <ul class="list-inline" *ngIf="backend.socialmedia">
                        <li *ngFor="let i of backend.socialmedia">
                            <a   target="_black" [href]='i.link'>
                            <span *ngIf="i.name=='Facebook'; then fb"></span>
                            <span *ngIf="i.name=='Instagram'; then insta"></span> 
                           </a>   
                        </li>
                        
                    </ul>
            </div>
        </div>
    </div>
</div>
<ng-template #fb>
<svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" fill="white" height="40" viewBox="0 0 24 24" width="40" ><rect fill="none" height="24" width="24" /><path d="M22,12c0-5.52-4.48-10-10-10S2,6.48,2,12c0,4.84,3.44,8.87,8,9.8V15H8v-3h2V9.5C10,7.57,11.57,6,13.5,6H16v3h-2 c-0.55,0-1,0.45-1,1v2h3v3h-3v6.95C18.05,21.45,22,17.19,22,12z"/></svg>
</ng-template>


<ng-template #insta>
<svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" data-prefix="fab" data-icon="instagram" class="svg-inline--fa fa-instagram fa-w-14" role="img" viewBox="0 0 448 512" width="40" height="40"
color="white"><path fill="currentColor" d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"/></svg>
</ng-template>