<div [ngClass]="scrollFlag?'navscroll':'nav'" *ngIf='computerscreenFlag' >
    <button mat-button @slideLeft (click)='goHome()'>HOME</button>
    <button mat-button @slideRight  >PORTFOLIO</button>
    <button mat-button @shakeLeftRight (click)='goResume()'>RESUME</button>
    <button mat-button @slideDown>ABOUT</button>
    <button mat-button @slideUp>CONTACT</button>
</div>
<button mat-icon-button class='nav1' [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu"
    *ngIf='!computerscreenFlag'>
    <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
    <button mat-menu-item (click)='goHome()'>
        <span>HOME</span>
    </button>
    <button mat-menu-item >
        <span>PORTFOLIO</span>
    </button>
    <button mat-menu-item>
        <span (click)='goResume()'>RESUME</span>
    </button>
    <button mat-menu-item>
        <span>ABOUT</span>
    </button>
    <button mat-menu-item>
        <span>CONTACT</span>
    </button>
</mat-menu>